/*
	Document   : styles
	Created on : May 4, 2021
	Author     : Fabien Loudet
	Description: Fabien Loudet's Page stylesheet
*/

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Century Gothic, sans-serif; 
	background: #282828;
  background: linear-gradient(-45deg, #36454F, #7393B3, #E5E4E2, #353935);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

h1 {
  font-weight: bold;
  font-size: 80px;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 0;
} 

h1:hover {
  color: #292929;
  transition: .5s;
}

p {
  color: #fff;
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 0;
}

h2 {
  color: #fff;
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 0;
}

h2:hover {
  color: #292929;
  transition: .5s;
}

.media {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li {
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  font-size: 45px;
  padding: 20px 20px;
  color: #fff;
  transition: .5s;
}

li:hover {
  color: #292929;
  transition: .5s;
}

a {
  color: #fff;
}

a:hover {
  color: #292929;
  transition: .5s;
}
